<form>
  <div scFormInput>
    <label for="trigger">Déclencheur</label>
    <div class="grid grid-cols-[auto,1fr] gap-2">
      <div
        class="bg-slate-800 text-white px-4 rounded-lg flex items-center justify-center font-bold"
      >
        !
      </div>
      <input id="trigger" placeholder="sayHello" scInput type="text" />
    </div>
  </div>
  <div scFormInput>
    <label for="action">Action</label>
    <select class="px-3 py-2 border border-slate-700 rounded-lg" id="action">
      <option value="test">Test</option>
    </select>
  </div>
</form>
